.table_header .table_col {
  width: 14.28%;
}
.req-table .table_header {
  background-color: #1F4E79;
}
.table_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e8e8e8;
  padding: 9px 15px;
  font-size: 14px;
}
.table_row:nth-child(2n) {
  background-color: #FFFFFF;
}
.table_row div {
  width: 14.28%;
  font-family: "Open Sans", serif;
}
.patient-age {
  text-align: center;
}
a.edit-link {
  display: inline-block;
  margin-inline-start: 8px;
}
.table_row .contact {
  width: 17%;
}
.contact .contact-link {
  text-decoration: none;
  color: #3B7A99;
}
.inner-wrapper .top-wrapper {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 10px;
}
.top-wrapper .total-content {
  font-weight: bold;
  font-family: "Open Sans", serif;
}
.top-wrapper .right-wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.total-content .total-hospitals {
  font-size: 20px;
  padding: 0 6px;
}