* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: #ededed;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.white-font-roboto {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.text-uppercase {
  text-transform: uppercase;
}

/* HEADER */
.header_wrapper {
  width: 100%;
  height: 50px;
  background-color: #38454b;
  color: #FFFFFF;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.logo {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.left_wrapper {
  width: 25%;
}
.right_wrapper {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}
.user_detail {
  width: auto;
  display: flex;
  align-items: center;
}
.user_detail img {
  width: 30px;
  height: auto;
  margin-inline-end: 7px;
}
.user_name {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 25px;
  font-family: "Roboto Slab", serif;
}
.clock, .current-date {
  font-family: "Orbitron", sans-serif;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffcccc;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

a.link {
  color: #000;
  text-decoration: none;
  color: #004d99;
  transition: all 0.3s ease-in-out;
}

a.link:hover {
  color: #0080ff;
}