* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #ededed;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*:focus,*:active {
  outline: none;
  background-color: none;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.sub-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 25px 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: 2px solid #3B7A99;
}
.search-bar .icon {
  padding: 0 8px;
}
input.search {
  padding: 7px 8px;
  width: 300px;
  border: none;
  font-size: 15px;
  font-family: "Open Sans", serif;
}
.no-result {
  text-align: center;
  margin-top: 30px;
  font-family: "Open Sans", serif;
}
.white-font-roboto {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.text-uppercase {
  text-transform: uppercase;
}

/* HEADER */
header{
  position: fixed;
  width:100%;
  z-index: 100;
}
.header_wrapper {
  width: 100%;
  height: 50px;
  background-color: #38454b;
  color: #FFFFFF;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.logo {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.left_wrapper {
  width: 25%;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.right_wrapper {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}
.user_detail {
  width: auto;
  display: flex;
  align-items: center;
}
.user_detail img {
  width: 30px;
  height: auto;
  margin-inline-end: 7px;
}
.user_name {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 25px;
  font-family: "Roboto Slab", serif;
}
.clock, .current-date {
  font-family: "Orbitron", sans-serif;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffcccc;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

a.link {
  color: #000;
  text-decoration: none;
  color: #004d99;
  transition: all 0.3s ease-in-out;
}

a.link:hover {
  color: #0080ff;
}


/*
********** More Menu
*/
.hamburger-menu {
  background-color: transparent;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
.menu-close {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 17px;
  top: 17px;
}
.more-menu-wrap {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: #6c848d; /* 5a6b72 */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 70px 20px 35px 30px;
  font-family: "Open Sans", serif;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}
.more-menu-wrap.active {
  transform: translateX(0);
}
.more-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    row-gap: 20px;
}
.menu-list .menu-item {
  margin-bottom: 17px;
}
.menu-item .menu-link {
  font-family: "Open Sans", serif;
  text-decoration: none;
  color: #E8ECEF;
  position: relative;
  padding-bottom: 3px;
}
.menu-item .menu-link:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  transition: all 0.4s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
}
.menu-item .menu-link:hover::after {
  transform: scaleX(1);
}
.menu-link.active {
  pointer-events: none;
}
.menu-link.active:after {
  transform: scaleX(1);
}
.copyright {
  color: #E8ECEF;
  font-size: 12px;
}

/*
*********** General Tables 
*/

.general-table .table_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Open Sans", serif;
  background-color: #6FA3D8;
  color: #ffffff;
  padding: 11px 15px;
}

/*
************ Pagination
*/
.pagination-controls {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}
.pagination-controls button {
  background-color: transparent;
  border: none;
  font-family: "Open Sans", serif;
}


/*
*********** General Form Styles
*/
.form-wrapper {
  width: auto;
  max-width: 52%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.form-wrapper input {
  padding: 7px 8px;
  width: 55%;
  border: none;
  font-size: 15px;
  font-family: "Open Sans", serif;
  border: 1px solid #dce1e4;
  font-size: 15px;
}
input[readonly] {
  background-color: #e4eeff;
}
.field-wrapper {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.field-wrapper label {
  font-family: "Open Sans", serif;
  font-size: 15px;
  text-transform: capitalize;
  width: 45%;
}
.submit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.submit-wrapper button {
  position: relative;
  background-color: #239d3f;
  color: #FFFFFF;
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  border: none;
  outline: 0;
  padding: 8px 18px;
  font-size: 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.button-loader {
  display: none;
  border: 6px double #FFFFFF;
  border-radius: 50%;
  border-top: 6px double #8CCB8C;
  width: 18px;
  height: 18px;
  animation: spin 1s ease-in-out infinite;
}
.data-saving .button-loader {
  display: block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

/* Select 2 Forms */
#icuName {
  opacity: 0;
  height: 0;
  width: 250px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
.select2-container--default .selection .select2-selection--single {
  border: 1px solid #dce1e4;
  height: 100%;
}
.select2-selection__rendered {
  font-size: 15px;
  font-family: "Open Sans", serif;
  padding: 4px 8px;
}
.select2-results__option {
  font-size: 15px;
  font-family: "Open Sans", serif;
}
.select2-search__field {
  font-size: 14px;
  font-family: "Open Sans", serif;
}

.select2-selection__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px !important;
}
.select2-selection__arrow b {
  display: none
}
.select2-selection__arrow:before {
  content: "\f067";
  color: #0D3B66;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: all 0.4s ease-in-out;
}
.select2-container--open .select2-selection__arrow:before {
  transform: rotate(45deg);
}
.success-message {
  font-size: 13px;
  font-family: "Open Sans", serif;
  color: #3B8A3B;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #ffffff;
  padding: 11px 15px 11px 50px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.success-message:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  border: 3px solid;
  border-radius: 100%;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.success-message:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 1px solid;
  border-radius: 100%;
  left: 19px;
  top: 0px;
  bottom: 0;
  margin: auto;
}

.error-message {
  font-size: 13px;
  font-family: "Open Sans", serif;
  color: #cc2121;
  margin-bottom: 25px;
  background-color: #ffffff;
  padding: 11px 15px 11px 50px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.error-message:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  border: 3px solid;
  border-radius: 100%;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.error-message:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  border: 1px solid;
  border-radius: 100%;
  left: 19px;
  top: 0px;
  bottom: 0;
  margin: auto;
}

.loader-line {
  display: none;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 50px;
  overflow: hidden;
  background-color: #ccd9ff;
  margin: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 5px;
  width: 40%;
  background-color: #668cff;
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
      left: -40%;
  }
  50% {
      left: 20%;
      width: 80%;
  }
  100% {
      left: 100%;
      width: 100%;
  }
}
.data-saving .loader-line {
  display: block;
}
.add-new {
  position: relative;
  background-color: #239d3f;
  color: #FFFFFF;
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  border: none;
  outline: 0;
  padding: 8px 18px;
  font-size: 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  text-decoration: none;
}
.add-new:before {
  content: "\f067";
  color: #FFFFFF;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.date-wrapper .icon {
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: fit-content;
}