
.inner_wrapper {
  display: flex;
}
.user_dashboard_wrapper {
  background-color: #3D52A0;
  margin-inline-end: 25px;
  width: 260px;
  height: 100vh;
  padding: 20px 15px;
  max-width: 55px;
  overflow: hidden;
  transition: max-width 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.user_dashboard_wrapper:hover {
  max-width: 260px;
}
.user_dashboard_inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.user_menu {
  display: flex;
  flex-direction: column;
  margin-block: 40px;
  gap: 15px;
}
.user_menu .nav_item {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  white-space: nowrap;
}
.nav_item .icon img, .sign_out .icon img {
  width: 25px;
  height: auto;
}
.sign_out {
  display: flex;
  align-items: center;
  gap: 25px;
  white-space: nowrap;
}

/* DASHBOARD */
.dashboard_wrapper {
  width: 100%;
  margin: auto 0 auto auto;
}
.dashboard_container {
  padding: 30px 50px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
.dashboard_inner_left {
  width: 65%;
}

.bottom_layer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  column-gap: 30px;
}
.bottom_layer .left_container {
  width: calc(45% - 15px);
  height: calc(100dvh - 238);
  padding-bottom: 0;
  background-color: #f2f2f2;
  font-size: 15px;
}
.bottom_layer .right_container {
  width: calc(55% - 15px);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/*
********** Hospital Table
*/
.hospital_wrap .h3_title {
  background-color: #fff;
  margin: 0;
  padding: 14px 15px;
  text-align: center;
}

.hospital_table .table_head {
  border-bottom: 2px solid #3B7A99;
}
.hospital_table .table_inner {
  padding:0;
}
.hospital_table .table_footer {
  padding: 28px 0 20px;
}
.hospital_table .table_body {
  height: 100%;
}
.hospital_table .name {
  width: 75%;
}
.hospital_table .hospital-count {
  width: 25%;
  text-align: center;
}
.hospital_table .table_row {
  margin: 0;
  padding: 10px 10px;
  background-color: #e0e8ef;
  font-size: 14px;
}
.hospital_table .table_row:nth-child(2n) {
  background-color: #ffffff;
}

.pie_chart_wrap {
  background-color: #fff;
  padding: 15px 25px;
  height: calc(calc(100dvh - 233px)/2);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.donut_chart_wrap {
  background-color: #fff;
  padding: 15px 25px;
  height: calc(calc(100dvh - 283px) / 2);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.dashboard_inner_right {
  width: 35%;
  height: calc(100vh - 110px);
  border-radius: 7px;
  font-size: 15px;
}

.available_icu_table .h3_title {
  background-color: #fff;
  padding: 19px 15px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.available_icu_table .available_count {
  background-color: #fff;
  padding: 0 15px 19px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.available_icu_table .available_count .count {
  font-size: 24px;
  font-weight: bold;
}

.detail_list {
  width: 100%;
}
.detail_list_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
}
.detail_item {
  width: calc(calc(100% - 100px)/3);
  padding: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
  position: relative;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.total-hospitals {
  border-bottom: 4px solid #d13a55;
}
.total-icus {
  border-bottom: 4px solid #08bf68;
}
.total-beds {
  border-bottom: 4px solid #1a60f6;
}
.available_beds {
  border-bottom: 4px solid #848cfd;
}
.detail_item .count {
  font-size: 40px;
  font-weight: 600;
} 


/* AVAILABLE BEDS TABLE */
.table_head {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 12px 10px;
  border-bottom: 2px solid #cccccc;
  font-weight: 500;
}
.table_col.col-name,.table_row .name {
  width: 75%;
}
.table_col.col-count,.table_row .bed-count {
  width: 25%;
  text-align: center;
}
.table_inner {
  background-color: #f2f2f2;
  padding: 19px 15px 30px;
}
.table_body {
  padding: 19px 0 0;
  max-height: 100%;
  overflow-y: hidden;
  height: calc(100dvh - 375px);
}
.table_row {
  display: flex;
  flex-wrap: wrap;
  padding: 19px 10px 19px;
  background-color: #FFFFFF;
  margin-top: 18px;
}
.table_row:first-child {
  margin-top: 0;
}
.table_footer {
  text-align: center;
  padding: 35px 0 5px;
}
