
.inner_wrapper {
  display: flex;
}
.user_dashboard_wrapper {
  background-color: #3D52A0;
  margin-inline-end: 25px;
  width: 260px;
  height: 100vh;
  padding: 20px 15px;
  max-width: 55px;
  overflow: hidden;
  transition: max-width 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.user_dashboard_wrapper:hover {
  max-width: 260px;
}
.user_dashboard_inner {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.user_menu {
  display: flex;
  flex-direction: column;
  margin-block: 40px;
  gap: 15px;
}
.user_menu .nav_item {
  display: flex;
  align-items: center;
  gap: 25px;
  text-decoration: none;
  white-space: nowrap;
}
.nav_item .icon img, .sign_out .icon img {
  width: 25px;
  height: auto;
}
.sign_out {
  display: flex;
  align-items: center;
  gap: 25px;
  white-space: nowrap;
}

/* DASHBOARD */
.dashboard_wrapper {
  width: 100%;
  margin: auto 0 auto auto;
}
.dashboard_container {
  padding: 30px 50px;
  display: flex;
  align-items: flex-start;
  gap: 75px;
}
.dashboard_inner_left {
  width: 65%;
}
.dashboard_inner_right {
  width: 35%;
  height: calc(100vh - 110px);
  background-color: #FFFFFF;
  border-radius: 7px;
}
/* .dashboard_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
} */
.detail_list {
  width: 100%;
}
.detail_list_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 50px;
}
.detail_item {
  width: calc(calc(100% - 100px)/3);
  padding: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
  position: relative;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.hospitals {
  border-bottom: 4px solid #d13a55;
}
.icus {
  border-bottom: 4px solid #08bf68;
}
.total_beds {
  border-bottom: 4px solid #1a60f6;
}
.available_beds {
  border-bottom: 4px solid #848cfd;
}
.detail_item .count {
  font-size: 40px;
  font-weight: 600;
} 
 /* .detail_item::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: red;
  position: absolute;
  bottom: 0;
} */
/*.hospitals::after {
  background-image: url('../images/hospital.png');
  opacity: 0.3;
  filter: grayscale(0.5);
}
.available_beds::after {
  background-image: url('../images/available_beds.png');
  opacity: 0.3;
  filter: grayscale(0.7);
}
.total_beds::after {
  background-image: url('../images/bed.png');
  opacity: 0.3;
  filter: grayscale(0.7);
}
.icus::after {
  background-image: url('../images/icu.png');
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: grayscale(0.6);
} */

/* AVAILABLE BEDS TABLE */
.table_head {
  display: flex;
}
.table_col {
  width: 50%;
}