.table_header .table_col {
  width: 18%;
}
.table_header .table_col.col-name {
  width: 35%;
}
.table_header .table_col.col-count {
  width: 13%;
  text-align: center;
}
.table_header .table_col.col-contact {
  width: 16%;
  text-align: center;
}
.table_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e8e8e8;
  padding: 9px 15px;
  font-size: 14px;
}
.table_row:nth-child(2n) {
  background-color: #FFFFFF;
}
.table_row div {
  width: 18%;
  font-family: "Open Sans", serif;
}
.table_row .name {
  width: 35%;
}
.table_row .count {
  width: 13%;
  text-align: center;
}
.table_row .contact {
  width: 16%;
  text-align: center;
}
.contact .contact-link {
  text-decoration: none;
  color: #3B7A99;
}
.inner-wrapper .top-wrapper {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 10px;
}
.top-wrapper .total-content {
  font-weight: bold;
  font-family: "Open Sans", serif;
}
.top-wrapper .right-wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.total-content .total-hospitals {
  font-size: 20px;
  padding: 0 6px;
}
@media only screen and (max-width: 767px) {
  .inner-wrapper .top-wrapper {
    flex-direction: column;
    row-gap: 15px;
  }
  .top-wrapper .right-wrapper {
    flex-direction: column;
    row-gap: 15px;
  }
  .print {
    display: none;
  }
  .search-bar {
    margin-bottom: 5px;
  }
  .table_header .table_col {
    width: 18%;
    font-size: 12px;
  }
  .table_header .table_col.col-name {
    width: 30%;
  }
  .table_row .name {
      width: 30%;
  }
}