.login-page::before {
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.glitch.global/cbd89b22-5132-4b02-b101-07acb1ac431a/sky.jpg?v=1743349282649);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
}
.login-container {
  display: flex;
  height: 100vh
}
.login-form-wrapper {
  width: 350px;
  padding: 20px 40px 40px;
  background-color: brown;
  margin: auto;
  background: linear-gradient(to bottom, #a9c7d1, #FFFFFF);
  border-radius: 30px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.inner-wrapper {
    width: 100%;
    display: flex;
}
.heading-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#loginForm label {
  display: none;
}
#loginForm input {
  width: 100%;
  padding: 12px 13px;
  border: none;
  font-size: 15px;
  font-family: "Open Sans", serif;
  border: 1px solid #dce1e4;
  background-color: #ececec;
  border-radius: 7px;
}
.submit-wrapper {
  display: block;
}
.login-form-wrapper button {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
}
h2 span.icon {
  display: flex;
  justify-content: center;
}
.field-wrapper .icon {
  color: #626060;
  height: fit-content;
}
.field-wrapper {
    align-items: center;
    column-gap: 10px;
}
.login-logo {
  width: 80px;
  height: auto;
}
.login-form-wrapper .error-message {
  backgroud
}