.table_header .table_col {
  width: 33.33%;
}
/* .table_header .table_col.col-name {
  width: 50%;
} */
.table_header .table_col.col-count {
  width: 13%;
  text-align: center; 
}
.user-table-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.table_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e8e8e8;
  padding: 9px 15px;
  font-size: 14px;
}
.table_row:nth-child(2n) {
  background-color: #FFFFFF;
}
.table_row div {
  width: 33.33%;
  font-family: "Open Sans", serif;
}
.inner-wrapper .top-wrapper {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 10px;
}
.top-wrapper .total-content {
  font-weight: bold;
  font-family: "Open Sans", serif;
}
.top-wrapper .right-wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.total-content .total-users {
  font-size: 20px;
  padding: 0 6px;
}
.remove-btn {
  background-color: transparent;
  border: none;
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.remove-btn::before {
  content: "\f2ed";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
  color: #9a9898;
}

.alert-box-wrap {
  display: none;
  position: fixed;
  z-index: 9999;
  background-color: rgba(256,256,256,0.5);
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
}
.alert_box {
  width: 400px;
  background-color: #e8e8e8;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  padding: 20px 50px 28px;
  text-align: center;
  border-top: 25px solid #364aa5;
  border-radius: 10px;
}
.alert_header {
  color: #8c1515;
  font-size: 35px;
  margin-bottom: 10px;
}
.alert-message {
  margin-bottom: 25px;
  font-family: "Roboto Slab", serif;
}
.alert_action {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.alert_btn {
  border: none;
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
  padding: 8px 20px;
  border-radius: 5px;
}
.yes_btn {
  background-color: #239d3f;
}
.no_btn {
  background-color: #7e0000;
}