.table_header .table_col {
  width: 33.33%;
}
/* .table_header .table_col.col-name {
  width: 50%;
} */
.table_header .table_col.col-count {
  width: 13%;
  text-align: center; 
}
.user-table-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.table_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e8e8e8;
  padding: 9px 15px;
  font-size: 14px;
}
.table_row:nth-child(2n) {
  background-color: #FFFFFF;
}
.table_row div {
  width: 33.33%;
  font-family: "Open Sans", serif;
}
.inner-wrapper .top-wrapper {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 10px;
}
.top-wrapper .total-content {
  font-weight: bold;
  font-family: "Open Sans", serif;
}
.top-wrapper .right-wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.total-content .total-users {
  font-size: 20px;
  padding: 0 6px;
}
.remove-btn {
  background-color: transparent;
  border: none;
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.remove-btn::before {
  content: "\f2ed";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
  color: #9a9898;
}